@use '../common/mixins' as *;
@use '../common/typography.mixins' as *;

.full-width-cards {
    margin-bottom: 60px;

    @include breakpoint(medium) {
        margin-bottom: 80px;
    }

    @include breakpoint(large) {
        margin-bottom: 120px;
    }

    &--none {
        background: none;
    }

    &--light-blue {
        background-color: #dde4eb;
        padding-top: 60px;
        padding-bottom: 60px;

        @include breakpoint(medium) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    &--light-blue-gradient-to-dark {
        background: linear-gradient(to bottom, rgba(12, 30, 49, 0) 0%, #dde4eb 100%);
        padding-bottom: 60px;

        @include breakpoint(medium) {
            padding-bottom: 80px;
        }
    }

    &--light-blue-gradient-to-light {
        background: linear-gradient(to top, rgba(12, 30, 49, 0) 0%, #dde4eb 100%);
        padding-top: 60px;
        padding-bottom: 60px;

        @include breakpoint(medium) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @include content-wide;

        @include breakpoint(medium) {
            gap: 48px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &--left {
            text-align: left;
        }

        &--center {
            text-align: center;
        }
    }

    &__header-heading {
        color: var(--color__blue-900);
        @include apply-type(heading-lg);
    }

    &__header-description {
        p {
            @include apply-type(heading-xxs);

            & {
                font-weight: 400;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include breakpoint(large) {
            gap: 32px;
        }
    }

    &__card {
        position: relative;
        background: white;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 24px;

        @include breakpoint(medium) {
            padding: 32px;
        }
    }

    &__card-number {
        position: absolute;
        top: 8px;
        left: 12px;
        color: var(--color__blue-300);
        font-weight: 600 !important;
        @include apply-type(heading-xs);

        @include breakpoint(medium) {
            left: 16px;
        }
    }

    &__card-heading {
        color: var(--color__blue-900);
        margin: 0 0 8px;
        @include apply-type(heading-sm);
    }

    &__card-description {
        color: var(--color__blue-900);

        p {
            margin: 0;

            & + p {
                margin-top: 0.5em;
            }
        }
    }
}
