.type-page {
	padding: 200px 1rem 100px 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;

	@include breakpoint(large) {
		padding: 260px 1rem 100px 1rem;
	}

	

	.entry-header {
		h1 {
			font-family: var(--font);
			font-weight: 800;
			font-size: 23px;
			color: var(--color__primary--dark);
			text-align: center;
			text-wrap: balance;
			

			@include breakpoint(medium) {
				font-size: 47px;
			}
		}	
	}

	.entry-content {
		max-width: 100%;

		@include breakpoint(medium){
			padding: 0 1rem;
		}		

		@include breakpoint(xlarge){
			width: 1200px;
			max-width: 1200px;
		}

		h2 {
			font-family: var(--font);
			font-weight: 800;
			font-size: 22px;
			color: var(--color__primary--dark);
			text-align: center;

			@include breakpoint(medium) {
				font-size: 40px;
			}
		}	
		
		h3 {
			font-family: var(--font);
			font-weight: 800;
			font-size: 20px;
			color: var(--color__primary--dark);
			text-align: center;

			@include breakpoint(medium) {
				font-size: 33px;
			}
		}			

		h4 {
			font-family: var(--font);
			font-weight: 600;
			font-size: 19px;
			color: var(--color__primary--dark);
			text-align: center;

			@include breakpoint(medium) {
				font-size: 27px;
			}
		}	
		
		h5 {
			font-family: var(--font);
			font-weight: 600;
			font-size: 18px;
			color: var(--color__primary--dark);
			text-align: center;

			@include breakpoint(medium) {
				font-size: 23px;
			}
		}	
		
		h6 {
			font-family: var(--font);
			font-weight: 600;
			font-size: 17px;
			color: var(--color__primary--dark);
			text-align: center;

			@include breakpoint(medium) {
				font-size: 19px;
			}
		}			
	}
}