.products-content {
    // background: lightblue;

    /** Products landing and archive */
    ul.products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        margin-bottom: 2rem;

        @include breakpoint(medium) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint(large) {
            grid-template-columns: repeat(4, 1fr);
        }

        .product {
            padding: 1rem;
            background: var(--color__neutral--very-light);

            a {
                text-decoration: none;

                img {
                    margin-bottom: 0.5rem;
                    background: white;
                }
                

                h2 {
                    // text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1rem;
                    color: var(--color__primary);
                    text-decoration: none;
                    margin: 0;
                }

                .price {
                    color: var(--color__neutral);
                    font-weight: 700;
                    font-size: 0.875rem;
                }
            }

        }
    }

    .woocommerce-pagination {
        display: flex;
        justify-content: center;

        .page-numbers {
            display: flex;

            li {
                margin: 0 0.25rem;

                .page-numbers {
                    display: inline-block;
                    padding: 0.5rem;
                    background: var(--color__neutral--very-light);
                    color: var(--color__primary);
                    font-weight: 700;
                    text-decoration: none;

                    &.current {
                        background: var(--color__primary);
                        color: white;
                    }
                }
            }
        }
    }

    /** Products Single */

    .product:not(li) {
        display: grid;
        grid-template-columns: 100%;

        @include breakpoint(medium) {
            grid-template-columns: 300px 1fr;
            grid-gap: 1rem;
        }

        & > .summary {
            h1 {
                // Uses h3 styling from _typography.scss
                 font-size: 1.625rem; // 26
                 line-height: 1.25;
                 font-weight: 400;
                 margin: 0 0 0.25rem;
                             
                 @include breakpoint(medium) {
                     font-size: 1.875rem; //30
                 }
            }

            h2 {
                clip: rect(0 0 0 0);
                height: 0;
                width: 0;
                overflow: visible;
                position: absolute;
            }
        }
    }

    .quantity {
        margin-bottom: 1rem;

        .screen-reader-text {
            text-indent: -9999rem;
        }
    
        input {
            width: 4ch;
        }
    }

    /** Item added and view cart notice */ 
    .woocommerce-notices-wrapper {
        margin-bottom: 2rem;
        width: 100%;

        .woocommerce-message {
            background: var(--color__success--light);
            // border: solid 1px var(--color__neutral--very-light);
            padding: 0.5rem 1rem;
            color: var(--color__primary);
            display: flex;
            font-weight: 700;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
    }

    /** Cart page: Cart items table */
    form.woocommerce-cart-form {
        margin-bottom: 2rem;
        width: 100%;

        table.shop_table {
            width: 100%;

            thead {
                background: var(--color__neutral--very-light);
                display: none;

                @include breakpoint(medium) {
                    display: table-header-group;
                }

                tr {
                    th {
                        padding: 0.5rem 1rem;
                    }
                }
            }

            tbody {
                tr {
                    display: block;
                    margin-bottom: 2rem;

                    @include breakpoint(medium) {
                        display: table-row;
                    }

                    td {
                        display: flex;
                        justify-content: space-between;
                        text-align: right;
                        position: relative;

                        @include breakpoint(medium) {
                            display: table-cell;
                            text-align: center;
                            padding: 0.5rem 1rem;
                        }
                        
                        padding: 0.5rem 0;

                        &.product-remove {
                            & > a {
                                display: block;
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }

                        &.product-name {
                            & > a {
                                color: var(--color__primary);
                            }

                            &::before {
                                content: attr(data-title) ": ";
                                font-weight: 700;

                                @include breakpoint(medium) {
                                    content: "";
                                }
                            }
                        }

                        &.product-price {
                            &::before {
                                content: attr(data-title) ": ";
                                font-weight: 700;

                                @include breakpoint(medium) {
                                    content: "";
                                }
                            }
                        }

                        &.product-thumbnail {
                            display: none;

                            @include breakpoint(medium) {
                                display: table-cell;
                                max-width: 100px;
                            }
                        }

                        &.product-quantity {
                            &::before {
                                content: attr(data-title) ": ";
                                font-weight: 700;

                                @include breakpoint(medium) {
                                    content: "";
                                }
                            }

                            .quantity > label {
                                display: none;
                            }
                        }

                        &.product-subtotal {
                            &::before {
                                content: attr(data-title) ": ";
                                font-weight: 700;

                                @include breakpoint(medium) {
                                    content: "";
                                }
                            }
                        }

                        &.actions {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    /** Cart page: Cart collaterals */
    div.cart-collaterals {
        width: 100%;
        
        @include breakpoint(medium) {
            display: flex;
            justify-content: flex-end;
            width: 50%;
            margin-left: auto;
        }

        div.cart_totals {
            margin-left: auto;
            width: 100%;

            h2 {
                // Uses h5 styling from _typography.scss
                font-size: 1.125rem; // 18 
                line-height: 1.25;
                font-weight: 700;
                margin: 0 0 0.25rem;
                
                @include breakpoint(medium) {
                    font-size: 1.25rem // 20
                }
            }

            table.shop_table {
                border: solid 1px var(--color__neutral--very-light);
                width: 100%;
                margin-bottom: 1rem;
            
                tbody {
                    tr {
                        th {
                            padding: 0.5rem 1rem;
                            text-align: left;
                        }

                        td {
                            padding: 0.5rem 1rem;
                            text-align: left;
                        }

                        &:last-child {
                            th,
                            td {
                                background: var(--color__neutral--very-light);
                            }
                        }
                    }
                }
            }
        }

        // Adding button color styles due to override when choosing shipping option
        div.wc-proceed-to-checkout {
            & > a.checkout-button {
                background: var(--color__primary);
                color: white;
            }
        }
    }

    /** Checkout page */
    // Handles layout. Error messages are declared in _forms.scss
    form.woocommerce-checkout {
        .woocommerce-billing-fields {
            margin-bottom: 2rem;
        }

        .woocommerce-additional-fields {
            margin-top: 2rem;
        }

        span.woocommerce-input-wrapper {
            display: flex;
            flex-direction: column;
        }

        h3#order_review_heading {
            // Uses h5 styling from _typography.scss
            font-size: 1.125rem; // 18 
            line-height: 1.25;
            font-weight: 700;
            margin: 0 0 0.25rem;

            @include breakpoint(medium) {
                font-size: 1.25rem // 20
            }
        }

        div.woocommerce-checkout-review-order {
            table {
                width: 100%;
                margin-bottom: 1rem;
                border-collapse: collapse;

                thead {
                    background: var(--color__neutral--very-light);

                    tr {
                        th {
                            text-align: left;
                            border-spacing: 0;
                            padding: 0.5rem 1rem;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            padding: 0.5rem 1rem;
                            text-align: left;
                        }
                    }
                }

                tfoot {
                    border-top: solid 1px var(--color__neutral--very-light);

                    tr {
                        th {
                            text-align: right;
                            padding: 0.5rem 1rem;

                            &::after {
                                content: " :";
                            }
                        }

                        td {
                            text-align: left;

                            ul#shipping_method {
                                 li {
                                     display: flex;
                                     flex-direction: row;
                                 }
                             }
                        }
                    }
                }
            }
        }

        div.wc-first-data-payeezy-gateway-credit-card-new-payment-method-form {
            label {
                & > abbr.required {
                    display: none;
                }

                &::after {
                    content: '(required)';
                }
            }
        }
    }
}


/** Order Received */

.order-details {
    .woocommerce-order-details {
        margin-top: 2rem;

        table.order_details {
            width: 100%;
            border-collapse: collapse;

            @include breakpoint(medium) {
                width: 50%;
            }

            thead {
                background: var(--color__neutral--very-light);

                tr {
                    th {
                        text-align: left;
                        border-spacing: 0;
                        padding: 0.5rem 1rem;
                    }
                }
            }
            
            tbody {
                tr {
                    td {
                        text-align: left;
                        padding: 0.5rem 1rem;

                        a {
                            color: var(--color__primary);
                        }
                    }
                }
            }

            tfoot {
                border-top: solid 1px var(--color__neutral--very-light);
                
                tr {
                    th {
                        text-align: right;
                    }

                    td {
                        text-align: left;
                        padding: 0.5rem 1rem;

                        span.woocommerce-Price-amount {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}