.disruptor {
    margin-bottom: 60px;
    // background-image: linear-gradient(to right, #0c1e31, #e86d57, #f5b330);
    // https://mycolor.space/gradient?ori=to+right&hex=%230C1E31&hex2=%23F5B330&sub=1
    background-image: linear-gradient(to right, #0c1e31, #f5b330);

    @include breakpoint(medium) {
        margin-bottom: 120px;
    }

    .container {
        padding: 80px 0;        
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        align-content: center;
        gap: 24px;
        @include content-wide;

        @include breakpoint(medium) {
            gap: 48px;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        
        
        .disruptor__content {
            color: white;

            &-heading {
                color: white;
                @include apply-type(heading-sm);
            }
            
            &-description {
                h1,h2,h3,h4,h5,h6,p,li,a {
                    color: white;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }


            }
        }

        .disruptor__button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}