.toggle-block {
    margin: 80px 0;
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding: 1rem 0;
            border-bottom: solid 1px var(--color__neutral--light);

            &:last-child {
                border-bottom: 0;
            }

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }

            .toggle-heading {
                padding: 0 2rem 0 0;
                position: relative;
                cursor: pointer;

                @include breakpoint(medium) {
                    padding: 0 2.5rem 0 0;
                }

                &:before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-family: "Material Symbols Outlined";
                    
                    font-variation-settings:
                    'FILL' 1,
                    'wght' 300,
                    'GRAD' 0,
                    'opsz' 24;
            
                    content: '\e7cd';
                    font-size: 19px;
                    color: var(--color__primary--dark);
    
                    @include breakpoint(medium) {
                        font-size: 36px;
                    }
                } 
                
                &.expand {
                    &:before {
                        content: '\f5d2';
                    }
                }                
            }
            
            .toggle-content {
                display: none;
                padding: 0;

                &.expand {
                    display: block;
                }
            }            
        }
    }
}