

.cta-button {
	margin-bottom: 60px;

	@include breakpoint(medium) {
		margin-bottom: 120px;
	}

	.container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @include content-wide;

        @include breakpoint(medium) {
            gap: 48px;
        }		
	}

	&__link,
	&__book-now {
		display: flex;
		justify-content: center;
	}

	a,button {
		display: inline-flex;

		padding: 16px 40px;
		display: inline-flex;
		flex-direction: column;
		text-transform: uppercase;
		font-weight: 600;
		text-decoration: none;
		font-size: 14px;
		line-height: 1;
		letter-spacing: var(--letter-spacing);
		width: auto;
		// border-radius: 999px;
		border-radius: 4px;
		border: none;
		position: relative;
		cursor: pointer;	
		
		&.cta-button--primary {
			background: var(--color__primary--dark); // 20220929 color__primarys
			color: white;
		}
	}
}