@use '../common/mixins' as *;
// @use '../abstracts/colors.functions' as *;
@use '../common/typography.mixins' as *;

.toggle-block {
    margin-bottom: 60px;

    @include breakpoint(medium) {
        margin-bottom: 120px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @include content-wide;

        @include breakpoint(medium) {
            gap: 48px;
        }   
        
        .toggle-block__header {
            display: flex;
            flex-direction: column;
            gap: 8px;          

            .toggle-block__header-heading {
                @include apply-type(heading-lg);
            }

            .toggle-block__header-description {
                p:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .toggle-block__body {

        }
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding: 1rem 0;
            border-bottom: solid 1px var(--color__neutral--light);
            list-style: none;

            &:last-child {
                border-bottom: 0;
            }

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }

            .toggle-heading {
                padding: 0 2rem 0 0;
                position: relative;
                cursor: pointer;

                @include breakpoint(medium) {
                    padding: 0 2.5rem 0 0;
                }

                .toggle-heading__icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: rotate(180deg);
                    @include button-chevron--md(var(--color__primary--dark), white);

                    & {
                        position: absolute;
                    }
                }
                
                &.expand {
                    .toggle-heading__icon {
                        transform: rotate(0deg);
                        @include button-chevron--md(var(--color__secondary), var(--color__primary--dark));

                        & {
                            position: absolute;
                        }
                    }
                }                
            }
            
            .toggle-content {
                display: none;
                padding: 0 50px 0 0;

                &.expand {
                    display: block;
                }
            }            
        }
    }
}