@use '../common/mixins' as *;
@use '../common/typography.mixins' as *;

.section-header {
    margin-bottom: 60px;

    @include breakpoint(medium) {
        margin-bottom: 80px;
    }

    @include breakpoint(large) {
        margin-bottom: 120px;
    }

    .container {
        @include content-wide;

        .section-header__header {
            display: flex;
            flex-direction: column;
            gap: 8px;

            &:has(.section-header__description > :is(h1, h2, h3, h4, h5):first-child) {
                gap: 24px;

                @include breakpoint(large) {
                    gap: 32px;
                }
            }

            &.section-header__header--left {
                text-align: left;

                @include breakpoint(large) {
                    .section-header__heading,
                    .section-header__description {
                        width: 70%;
                    }
                }

                .section-header__description {
                    text-align: left;

                    @include breakpoint(large) {
                        p,
                        li {
                            max-width: 70%;
                        }
                    }
                }
            }

            &.section-header__header--center {
                text-align: center;

                @include breakpoint(large) {
                    .section-header__heading,
                    .section-header__description {
                        width: 70%;
                        margin-inline: auto;
                    }
                }

                .section-header__description {
                    text-align: center;

                    @include breakpoint(large) {
                        p,
                        li {
                            max-width: 70%;
                            margin-inline: auto;
                        }
                    }
                }
            }

            .section-header__heading {
                @include apply-type(heading-lg);
            }

            .section-header__description {
                p {
                    @include apply-type(heading-xxs);

                    & {
                        font-weight: 400;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                h1 {
                    @include apply-type(heading-xl);
                }

                h2 {
                    @include apply-type(heading-lg);
                }

                h3 {
                    @include apply-type(heading-md);
                }

                h4 {
                    @include apply-type(heading-sm);
                }

                h5 {
                    @include apply-type(heading-xs);
                }

            }
        }
    }
}
