.disruptor {
    margin-bottom: 60px;
    background-image: linear-gradient(to right, #0c1e31, #f5b330);

    @include breakpoint(medium) {
        margin-bottom: 120px;
    }

    .container {
        padding: 80px 0;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        align-content: center;
        gap: 24px;
        @include content-wide;

        @include breakpoint(medium) {
            gap: 48px;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .disruptor__content {
            color: white;

            &-text {
                flex: 1;
            }

            &-heading {
                color: white;
                @include apply-type(heading-sm);
            }

            &-description {
                text-align: left;
                h1,h2,h3,h4,h5,h6,p,li,a {
                    color: white;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .disruptor__image {
            display: flex;
            align-items: center;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .disruptor__button {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @include breakpoint(medium) {
                justify-content: center;
            }
        }
    }

    &--has-image {
        .container {
            @include breakpoint(medium) {
                grid-template-columns: 1fr auto;
            }

            .disruptor__image {
                max-width: 120px;
                background-color: white;
                border-radius: 4px;
            }

            .disruptor__content {
                display: flex;
                align-items: center;
                gap: 24px;

                @include breakpoint(medium) {
                    grid-column: 1;
                    grid-row: 1;
                }

                &-text {
                    max-width: 500px;
                }
            }

            .disruptor__button {
                @include breakpoint(medium) {
                    grid-column: 2;
                    grid-row: 1;
                }
            }
        }
    }
}