.diagonal-image-callout {
    margin: 80px 0;
    background-size: 0%;
    background-position: none;
    display: flex;
    flex-direction: column;

    @include breakpoint(large) {
        height: 360px;
        background-position: center right;
        background-size: 70%;
        background-repeat: no-repeat;
    }

    // Mobile background image div
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 300px;
        background-image: inherit;
        background-size: cover;
        background-position: center;
        order: 2;

        @include breakpoint(large) {
            display: none;
        }
    }

.diagonal-content-container {
    padding: 40px 24px;
    background: var(--color__secondary);
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    width: 100%;
    text-align: center;
    order: 1;

    @include breakpoint(medium) {
        padding-left: max(48px, calc((100% - 1223px) / 2 + 24px));
        padding-right: 24px;
        justify-content: flex-start;
    }

    @include breakpoint(large) {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100%;
        width: 40%;
        transform: none;
    }
}
    
    .diagonal-content-container::after {
        content: "";
        display: none;

        @include breakpoint(large) {
            display: block;
            position: absolute;
            width: 100%;
            top: 0px;
            right: 0px;
            left: 0%;
            bottom: 0;            
            transform-origin: bottom;
            transform: skew(-35deg);
            left: 0%;
            z-index: -1;
            background: var(--color__secondary);
        }
    }

    .diagonal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        max-width: 1223px;

        @include breakpoint(medium) {
            align-items: flex-start;
            text-align: left;
        }

        @include breakpoint(large) {
            transform: none;
            height: unset;
        }

        p {
            color: var(--color__primary--dark);
        }

        h2, h3, h4, h5, h6 {
            margin-bottom: 3px;
        }

        h2 {
            font-family: var(--font);
            font-weight: 800;
            font-size: 22px;
            color: var(--color__primary--dark);

            @include breakpoint(medium) {
                font-size: 40px;
            }
        }
        
        h3 {
            font-family: var(--font);
            font-weight: 800;
            font-size: 20px;
            color: var(--color__primary--dark);

            @include breakpoint(medium) {
                font-size: 33px;
            }
        }

        h4 {
            font-family: var(--font);
            font-weight: 600;
            font-size: 19px;
            color: var(--color__primary--dark);

            @include breakpoint(medium) {
                font-size: 27px;
            }
        }
        
        h5 {
            font-family: var(--font);
            font-weight: 600;
            font-size: 18px;
            color: var(--color__primary--dark);

            @include breakpoint(medium) {
                font-size: 23px;
            }
        }
    }
}