button {
  cursor: pointer;
}

@keyframes financeButtonAnimation {
	0% {
		// background-position: 0% 50%;
		background-color: hsla(150, 100%, 20%, 1);
	  }
	
	  50% {
		background-color: hsla(150, 50%, 50%, 1);

	  }
	
	  100% {
		background-color: hsla(150, 100%, 20%, 1);
	  }
  }



a.button,
button.button-cta,
.checkout-button,
button.button {
  padding: 16px 40px;
  display: inline-flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  letter-spacing: var(--letter-spacing);
  width: auto;
  border-radius: 999px;
  border: none;
  position: relative;
  cursor: pointer;

  &.menu-book-now-button {
    border-radius: 0px !important;
    padding: .5rem !important;
  }


  &:hover {
    background: hsla(0, 100%, 100%, 1);
  }

  &.--cta__new-window {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTQyIDI1LjA1VjM5UTQyIDQwLjIgNDEuMSA0MS4xUTQwLjIgNDIgMzkgNDJIOVE3LjggNDIgNi45IDQxLjFRNiA0MC4yIDYgMzlWOVE2IDcuOCA2LjkgNi45UTcuOCA2IDkgNkgyMi45NVY5SDlROSA5IDkgOVE5IDkgOSA5VjM5UTkgMzkgOSAzOVE5IDM5IDkgMzlIMzlRMzkgMzkgMzkgMzlRMzkgMzkgMzkgMzlWMjUuMDVaTTE5LjEgMzEuMDUgMTcgMjguOSAzNi45IDlIMjUuOTVWNkg0MlYyMi4wNUgzOVYxMS4xNVoiLz48L3N2Zz4=")
      center right / 18px no-repeat;
    // padding: 0 24px 0 0 !important;
  }

  &.button--textOnly {
    padding: 0;
    font-weight: 400;
    text-decoration: underline;
    border-radius: 0;
    color: var(--color__primary--dark); // 20220929 color__primary
    text-transform: capitalize;

    &::after,
    &::before {
      display: none;
    }

    &.--cta__new-window {
      padding-right: 20px;
    }
  }

  &.button--big {
    text-align: center;

	&::after {
		height: 0;
	}
  }

  &.button--primary {
    background: var(--color__primary--dark); // 20220929 color__primarys
    color: white;

    &:hover {
      color: var(--color__secondary);
    }
  }

  &.button--secondary {
    background: var(--color__secondary);
    color: black;
  }

  &.button--payment {
	font-size: 1.125rem;
	padding: 1rem 1.125rem;
	box-shadow:
	0.3px 0.3px 1px rgba(0, 0, 0, 0.037),
	0.7px 0.7px 2.3px rgba(0, 0, 0, 0.053),
	1.3px 1.3px 4.4px rgba(0, 0, 0, 0.065),
	2.2px 2.2px 7.8px rgba(0, 0, 0, 0.077),
	4.2px 4.2px 14.6px rgba(0, 0, 0, 0.093),
	10px 10px 35px rgba(0, 0, 0, 0.13)
  ;
    background: var(--color__success);
    color: white;
    // background: linear-gradient(
    //   130deg,
    //   hsla(150, 100%, 30%, 1),
    //   hsla(150, 50%, 70%, 1)
    // );
	// background: radial-gradient(hsla(150, 100%, 30%, 1), hsla(150, 50%, 70%, 1));
    // background-size: 200% 200%;
    animation: financeButtonAnimation 2s ease-in-out infinite;

    &::after {
	background: hsla(150, 100%, 20%, 1);
    }
  }  


  &.button--neutral {
    background: var(--color__neutral--light);
    color: black;

    &::after {
      background: var(--color__neutral--very-dark);
    }
  }

  &.button--white {
    background: white;
    color: var(--color__primary--dark);

    // &::after {
    //   background: var(--color__neutral--very-dark);
    // }
  }  

  &.button--attention {
    background: white;
    color: var(--color__attention);
    border: solid 1px var(--color__attention);

    &::after {
      background: var(--color__attention);
    }
  }

  &.button--schedule {
    background: linear-gradient(
      130deg,
      var(--color__secondary),
      var(--color__attention)
    );
    background-size: 200% 200%;
    animation: navAnimation 5s ease infinite;
    color: white;
    display: flex;
    height: 100%; 
    justify-content: center;

    &::after {
      background: var(--color__attention);
    }
  }

  &.button--large {
    padding: 24px 60px;
	font-size: 18px;

	@include breakpoint(medium) {
		// font-size: 1.5rem;
	}
  }
}

input[type="submit"] {
  padding: 0 1rem;
  height: 2.625rem;
  line-height: 2.625rem;
  text-align: center;
  color: white;
  font-weight: 600;
  border: none;
  background: var(--color__primary--dark);
  border-radius: var(--border-radius);
  -webkit-appearance: none;
  cursor: pointer;
}

.wp-block-button.whg-cta-button {
  a {
    &:visited {
      color: white;
    };
  }
}
