.card-group {
    .card-group__cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 1rem 1rem;

        &.--one {
            grid-template-columns: repeat(1, 1fr);
        }
    
        &.--two {
            @include breakpoint(medium) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    
        &.--three {
            @include breakpoint(medium) {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        // Products only
        &.--four {
            @include breakpoint(medium) {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}
