@use '../common/mixins' as *;
/* @use '../abstracts/colors.functions' as *; */
@use '../common/typography.mixins' as *;

.comparison-table {
    margin-bottom: 60px;
    margin-top: 40px;
    padding-top: 56px;
    padding-bottom: 56px;
    background: linear-gradient(180deg, rgba(12, 30, 49, 0) 0%, #dde4eb 100%);
    position: relative;
    overflow: hidden;   

    @include breakpoint(medium) {
        margin-bottom: 120px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        @include content-wide;
        
        .comparison-table__header {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 20px;

            @include breakpoint(medium) {
                max-width: 100%;
                margin-bottom: 50px;
            }

            .comparison-table__heading {
                color: var(--color__primary--dark);
                margin-left: 0;
                @include apply-type(heading-lg);
            }

            .feature-comparison__description {
                max-width: 600px;

                ol {
                    list-style: decimal;
                    padding-left: 7px;
                    margin-bottom: 20px;
                    @include apply-type(body);

                    li {
                        margin-left: 20px;
                    }
                }

                ul {
                    list-style: disc;
                    padding-left: 7px;
                    margin-bottom: 20px;
                    @include apply-type(body);

                    li {
                        margin-left: 20px;
                    }
                }            

                p {
                    margin-bottom: 20px;
                }
            }
        }
        
        .comparison-table__table {

            &.comparison-table__table--desktop {
                display: none;

                span.comparison-table__check {
                    font-size: 0;
                    @include button-check--sm(transparent, var(--color__primary--dark));
                }
                
                @include breakpoint(medium) {
                    display: table;
                    table-layout: fixed;
                    width: 100%;
                    border-collapse: separate;
                    border-spacing: 0;
                
                    thead {
                        th {
                            font-weight: bold !important;
                            vertical-align: top;
                            padding: 24px 12px;

                            &:nth-child(2) {
                                width: 254px;
                                border-top-left-radius: 4px;
                                border-top-right-radius: 4px;
                            }

                            &:nth-child(4) {
                                width: 254px;
                                border-top-left-radius: 4px;
                                border-top-right-radius: 4px;
                            }

                            &:nth-child(3) {
                                width: 7px;
                            }

                            .comparison-table__column-header {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                align-items: center;
                                text-align: center;

                                .comparison-table__column-heading {
                                    color: var(--color__primary--dark);
                                    @include apply-type(heading-xs);
                                }

                                .comparison-table__description {
                                    font-weight: normal;
                                    margin-bottom: 0;
                                    @include apply-type(body);

                                }

                                .comparison-table__links {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 8px;
                                    margin-top: 8px;

                                    .comparison-table__link {
                                        display: inline-block;
                                        @include apply-type(body);
                                    }
                                }
                            }
                        }
                    }

                    tbody {
                        border: solid 1px rgba(12, 30, 49, 0.12);
                        // border-radius: 30px;
                        // box-shadow: 0 2px 8px rgba(12, 30, 49, 0.08);

                        td {
                            border-bottom: solid 1px rgba(12, 30, 49, 0.08);
                            color: var(--color__primary--dark);
                            padding: 12px;
                            text-align: center;
                            vertical-align: middle;
                            @include apply-type(body);

                            &:nth-child(1) {
                                text-align: left;
                                padding-left: 47px;
                            }

                            &:nth-child(2) {
                                width: 252px;
                                @include apply-type(eyebrow);
                            }

                            &:nth-child(3) {
                                width: 254px;
                                @include apply-type(eyebrow);
                            }

                            &:nth-child(4) {
                                width: 35px;
                                padding: 0;
                            }
                        }

                        tr {
                            &:first-child {
                                td {
                                    border-top: none;

                                    &:last-child {
                                        border-bottom: solid 1px rgba(12, 30, 49, 0.08);
                                    }
                                }
                            }

                            &:last-child {
                                td {
                                    border-bottom: none;
                                }
                            }
                        }
                    }

                    td:nth-child(4),
                    th:nth-child(4) {
                        background-color: #ffffff;
                    }

                    td:nth-child(2),
                    th:nth-child(2) {
                        // background-color: #ffffff;
                        background-color: rgba(255, 255, 255, 0.5);
                    }                    
                }
            }            

            &.comparison-table__table--mobile {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-bottom: 56px;
                
                @include breakpoint(medium) {
                    display: none;
                }

                .comparison-table__column-heading {
                    color: var(--color__primary--dark);
                    @include apply-type(heading-md);
                }

                .comparison-table__table-mobile {
                    width: 100%;
                    padding: 24px 36px;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    // border-radius: 30px;
                    border-radius: var(--border-radius);
                    box-shadow: 0 2px 12px rgba(12, 30, 49, 0.1);

                    .comparison-table__mobile-header {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        padding-bottom: 16px;

                        .comparison-table__heading {
                            @include apply-type(heading-lg);
                        }

                        .comparison-table__price {
                            font-weight: bold;
                            @include apply-type(eyebrow);
                        }

                        .comparison-table__description {
                            @include apply-type(body);
                        }
                    }

                    .comparison-table__features-list {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        .comparison-table__list-label {
                            font-weight: bold;
                            margin-bottom: 4px;
                            @include apply-type(body);
                        }

                        .comparison-table__mobile-list {
                            list-style: disc;
                            padding-left: 20px;
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            .comparison-table__mobile-item {
                                color: var(--color__primary--dark);
                                @include apply-type(body);
                            }
                        }
                    }

                    .comparison-table__links {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        margin-top: 8px;
                        @include apply-type(body);

                        .comparison-table__link {
                            display: inline-block;
                            font-weight: 600 !important;
                        }
                    }

                    &.comparison-table__table-mobile--basic {
                        background: #ffffff;
                    }

                    &.comparison-table__table-mobile--full {
                        background: #ffffff;
                    }
                }
            }  

            .comparison-table-included {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                margin-left: auto;
                margin-right: auto;

                svg {
                    width: 100%;
                    height: 100%;
                }

                @include breakpoint(medium) {
                    width: 26px;
                    height: 26px;
                }
            }
        }

        .comparison-table__table-links {
            display: none;

            @include breakpoint(medium) {
                display: flex;
                width: 100%;
                margin-bottom: 70px;

                .comparison-table__table-links-spacer {
                    flex: 1;
                    min-width: 0;
                }

                .comparison-table__table-links-spacer-right {
                    flex: 0 0 24px;
                    width: 24px;
                }

                .comparison-table__table-links-column {
                    flex: 0 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding-top: 16px;

                    &:nth-child(2) {
                        // background-color: #ffffff;
                        background-color: rgba(255, 255, 255, 0.5);
                        width: 254px;
                        padding-bottom: 16px;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }

                    &:nth-child(4) {
                        background-color: #ffffff;
                        width: 254px;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                        padding-bottom: 16px;
                    }

                    .comparison-table__price {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;

                        .comparison-table__price-text {
                            font-weight: bold;
                            @include apply-type(eyebrow);
                        }
                    }               

                    .comparison-table__links {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 8px;
                        width: 100%;
                        @include apply-type(body);

                        .comparison-table__link {
                            display: block;

                            &.button--textonly {
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }        

        .comparison-table__additional-options {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .comparison-table__additional-heading {
                text-align: center;
                color: var(--color__primary--dark);
                @include apply-type(heading-lg);
            }

            .comparison-table__additional-card {
                background-color: #ffffff;
                padding: 24px 36px;
                // border-radius: 20px;
                border-radius: var(--border-radius);
                display: flex;
                flex-direction: column;
                gap: 12px;
                box-shadow: 0 2px 12px rgba(12, 30, 49, 0.1);

                @include breakpoint(medium) {
                    justify-content: space-between;
                    width: 100%;
                    min-height: 300px;
                    max-width: 704px;
                    margin: 0 auto;
                }

                .comparison-table__additional-card-header {
                    display: flex;
                    flex-direction: column;

                    @include breakpoint(medium) {
                        flex-direction: row;
                        gap: 50px;
                    }

                    .comparison-table__additional-card-header-product {
                        @include breakpoint(medium) {
                            flex: 0 0 215px;
                        }   
                        
                        .comparison-table__card-heading {   
                            margin-bottom: 5px;     
                            font-weight: 400 !important;
                            color: var(--color__primary--dark);                
                            @include apply-type(heading-sm);
                        }

                        .comparison-table__card-price {
                            margin-bottom: 11px;
                            color: var(--color__primary--dark);
                            @include apply-type(eyebrow);

                            span {
                                @include apply-type(eyebrow);
                            }
                        }

                        .comparison-table__card-excerpt {
                            @include apply-type(body);
                        }                            
                    }

                    .comparison-table__additional-card-header-product-details {
                        width: 100%;

                        p {
                            @include apply-type(body);
                        }

                        ul {
                            list-style: disc;
                            padding-left: 20px;
                            margin-top: 8px;
                            @include apply-type(body);

                            li {
                                margin-bottom: 4px;
                            }
                        }                              
                    }
                }

                .comparison-table__additional-card-footer {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;

                    @include breakpoint(medium) {
                        flex-direction: row;
                        gap: 50px;
                    }

                    .comparison-table__additional-card-footer-product-cta {
                        @include breakpoint(medium) {
                            flex: 0 0 215px;
                        }
                    }

                    .comparison-table__additional-card-footer-additional-cta {
                        font-weight: 600 !important;
                    }
                }

                .comparison-table__additional-card-product {
                    display: flex;
                    flex-direction: column;

                    @include breakpoint(medium) {
                        justify-content: space-between;
                    }
                }

                .comparison-table__additional-card-product-details {
                    display: flex;
                    flex-direction: column;

                    @include breakpoint(medium) {
                        justify-content: space-between;
                    }

                    .comparison-table__additional-card-product-details-footer {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        min-height: 53px;
                    }
                }
            }
        }
    }
}