.featured-articles {
  background: linear-gradient(180deg, rgba(12, 30, 49, 0) 0%, #dde4eb 100%);
  position: relative; 
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 80px 0;

  @include breakpoint(medium) {
    margin-bottom: 120px;
  }

  .container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      @include content-wide;

      @include breakpoint(medium) {
          gap: 48px;
      }    

      .featured-articles__header {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 8px;
                
        .featured-articles__header-heading {
          @include apply-type(heading-lg);
        }

        .featured-articles__header-description {
          p {
            @include apply-type(body);

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
  }

  .featured-articles__grid {
    display: grid;
    grid-template-columns: auto;
    row-gap: 30px;

    @include breakpoint(medium) {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }

    .featured-articles__article {
      background: var(--bg-image) center/cover no-repeat;
      aspect-ratio: 400 / 300;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 1rem;
      // border-radius: 10px;
      border-radius: var(--border-radius);
      position: relative;
      color: white;
      text-decoration: none;
      font-weight: 600;      

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, hsla(0,0,0,0) 30%, hsla(0,0,0,.9));
        // border-radius: 10px;
        border-radius: var(--border-radius);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                    0 2px 4px rgba(0, 0, 0, 0.06);

      }

      h5 {
        position: relative;
        z-index: 9999;
        color: white;
        @include apply-type(heading-xs);
      }


    }
  }
}