@use 'sass:map';
@use '../common/typography.functions' as *;
@use '../common/typography.mixins' as *;

.hero {
	width: 100%;
	margin-top: 190px;
    text-align: center;

	@include breakpoint(large) {
		margin-top: 290px;
	}

    & > .hero__page-title {
        max-width: 60vw;
        margin: 0 auto;

        @include breakpoint(medium) {
            max-width: 80vw;
        }        
        h1 {
            color: var(--color__primary--dark);
            @include apply-type(heading-xl);
        }
    }
}

.hero-landing {
	width: 100%;
	margin-top: 190px;

	@include breakpoint(large) {
		margin-top: 290px;
	}

	.hero__page-title {
		text-align: center;
		padding: 0;
        max-width: 60vw;
        margin: 0 auto;

        @include breakpoint(medium) {
            max-width: 80vw;
        }

        h1 {
            color: var(--color__primary--dark);
            @include apply-type(heading-xl);
        }
	}
}