.hero {
    width: 100%;
    height: 85vh;
    background-size: contain;
    position: relative;

    @include breakpoint(large) {
        height: 65vh;
    }

    & > .hero__page-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: var(--page-title-background);
        padding: 2rem 4rem;
        text-align: center;

        @include breakpoint(medium) {
            width: 60vw;
            left: calc(50% - (60vw / 2));
        }
    }
}

.hero-landing {
	width: 100%;
	margin-top: 190px;

	@include breakpoint(large) {
		margin-top: 290px;
	}

	.hero__page-title {
		text-align: center;
		padding: 0;
	}
}