@use '../common/mixins' as *;
// @use '../abstracts/colors.functions' as *;
@use '../common/typography.mixins' as *;

.page-intro {
	margin-top: -60px;
	margin-bottom: 60px;

	@include breakpoint(medium) {
		margin-bottom: 120px;
	}

	.container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @include content-wide;

        @include breakpoint(medium) {
            gap: 48px;
        }
		
		p {
			text-align: center;
			color: var(--color__primary--dark);
			@include apply-type(heading-sm);

			& {
				font-weight: 400;
			}
		}
		
	}
}