/** Blog Landing */
.posts {
  border-bottom: solid 1px var(--color__neutral);
  padding-bottom: 2.5rem;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  article.post {
    & > header {
      & > h2.entry-title {

        & > a {
          color: var(--color__primary--dark); // 20220929 color__primary
          text-decoration: none;
        }

        
        @include apply-type(heading-lg);        
      }
    }

    & > .entry-footer {
      margin-bottom: 0;
      .post__continue {
        margin-top: 1rem;

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

/** Post Single */
.post {
  article.post {
    & > header {
      & > h1.entry-title {
        /** Uses h2 style from typography.scss */
        // font-size: 2rem; //41.6
        line-height: 1.25;
        // font-weight: 400;
        margin: 0 0 1rem 0;
        text-wrap: balance;

        @include apply-type(heading-xl);

        @include breakpoint(medium) {
			color: var(--color__primary--dark);
			// font-size: 3rem;
			text-align: center;
        }
      }
    }

    & > .entry-content {
		p,
		ol li,
		ul li {
			font-size: 18px;
			line-height: 1.5;
      margin-bottom: 20px;
		}

		.wp-block-image {
			margin-bottom: 1.5rem;
		}

		.wp-block-quote {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
			padding: 2rem 3rem;
			// background: var(--color__secondary--very-light);
			background: var(--color__neutral--very-light);
			border-left: solid 10px var(--color__neutral);

			p {
				font-size: 1.25rem;
			}

			&::before {
				color: var(--color__neutral--light);
				left: 0;
				top: 1.25rem;
			  }

			cite {
				font-weight: 300;
				font-size: 1.125rem;
				
				&:before {
					content: "-";
				}
			}
		}

      h2 {
        /** Uses h3 style from typography.scss */
        // font-size: 1.625rem; // 26
        line-height: 1.25;
        // font-weight: 400;
        margin: 0 0 .25rem;
		color: var(--color__primary--dark);

        @include breakpoint(medium) {
          // font-size: 2rem; //30
        }

        & > strong {
          // font-weight: 400 !important;
        }
      }

      h3 {
        /** Uses h4 style from typography.scss */
        // font-size: 1.375rem; // 22
        line-height: 1.25;
        // font-weight: 400;
        margin: 0 0 0.25rem;

        @include breakpoint(medium) {
          // font-size: 1.5rem; // 24
        }

        & > strong {
          // font-weight: 400 !important;
        }
      }

      h4 {
        /** Uses h5 style from typography.scss */
        // font-size: 1.125rem; // 18
        line-height: 1.25;
        // font-weight: 600;
        margin: 0 0 0.25rem;

        @include breakpoint(medium) {
          // font-size: 1.25rem; // 20
        }

        & > strong {
          font-weight: 400 !important;
        }
      }

      h5 {
        /** Uses h6 style from typography.scss */
        // font-size: 0.875rem; // 14
        line-height: 1.25;
        // font-weight: 700;
        margin: 0 0 0.25rem;

        @include breakpoint(medium) {
          // font-size: 0.9375rem; // 15
        }

        & > strong {
          // font-weight: 400 !important;
        }
      }
    }
  }
}

/** Post Navigation */
.posts-navigation {
  h2 {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 0;
    overflow: hidden;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
