#rank-math-faq {
    margin-bottom: 60px;

    @include breakpoint(medium) {
        margin-bottom: 80px;
    }

    @include breakpoint(large) {
        margin-bottom: 120px;
    }

	.rank-math-list {
        display: flex;
        flex-direction: column;
		align-content: start;
        gap: 24px;
        @include content-wide;

		.rank-math-list-item {
			text-align: left;
			
			& > * {
				text-align: left;
			}
		}
	}
}