#rank-math-faq {
    margin-bottom: 60px;
	margin-top: 24px;


    @include breakpoint(medium) {
        margin-bottom: 80px;
    }

    @include breakpoint(large) {
		margin-top: 32px;
        margin-bottom: 120px;
    }

	.rank-math-list {
        display: flex;
        flex-direction: column;
		align-content: start;
        gap: 24px;
        @include content-wide;

		.rank-math-list-item {
			text-align: left;
			
			& > * {
				text-align: left;
			}

			.rank-math-answer {
				p {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}