html {
  visibility: visible;
  opacity: 1;
}

body {
  //   background: var(--color__primary--dark);
  //   background: linear-gradient(
  //     339deg,
  //     var(--color__primary--dark) 0%,
  //     var(--color__primary) 32%,
  //     var(--color__primary--light) 100%
  //   );
  //   background: hsla(0, 0%, 88%, 1);
//   background: hsla(68, 23%, 90%, 1);
// background: hsla(211 60.7% 12% / 0.1);
background: #F0F3F1; // https://hihayk.github.io/scale/#1/6/50/94/-51/67/20/14/0c1e31/12/30/49/white
  //   background: linear-gradient(
  //     180deg,
  //     rgba(247, 247, 242, 1) 0%,
  //     rgba(0, 238, 238, 1) 50%,
  //     rgba(247, 247, 242, 1) 100%
  //   );
  font: 1rem/1.5 var(--font);
  color: var(--color__text);
  scroll-behavior: smooth;

  &.body__no-overflow {
    overflow: hidden;
  }

  /** Styles for TinyMCE (WYSIWYG) */
  &#tinymce {
    background: white;
    padding: 1rem;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.Prompt {
  display: none;
}

.--hide {
  display: none;
}

.--show {
  display: block;
}
