@mixin breakpoint($point) {
  @if $point == small {
    @media (min-width: $breakpoint__small) {
      @content;
    }
  } @else if $point == mobilemax {
    @media (max-width: $breakpoint__medium) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: $breakpoint__medium) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: $breakpoint__large) {
      @content;
    }
  } @else if $point == xlarge {
    @media (min-width: $breakpoint__xlarge) {
      @content;
    }
  } @else if $point == xxlarge {
    @media (min-width: $breakpoint__xxlarge) {
      @content;
    }
  }
}


@mixin icon-font-loader {
    opacity: 0;
    transition: opacity 0.3s ease;
    
    .fonts-loaded & {
        opacity: 1;
    }
}

@mixin content-wide {
    & {
        width: auto;
        padding-left: 24px;
        padding-right: 24px;
    }
    
    @include breakpoint(medium) {
        // width: calc(1223px + 48px);
        // max-width: 100%;
        width: 1223px; // content width only
        max-width: calc(100% - 48px); // account for padding        
        margin-left: auto;
        margin-right: auto;
    }    
}

@mixin button-expand--lg($fillColor, $strokeColor) {
    // position: relative;
    background-color: $fillColor;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease;
    
    &::before {
        content: '\f830';
        font-family: 'Material Symbols Outlined';
        font-size: 24px;
        font-variation-settings:
          'FILL' 1,
          'wght' 200,
          'GRAD' 0,
          'opsz' 24;        
        color: $strokeColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-indent: 0;
        @include icon-font-loader;
    }
}

@mixin button-collapse--lg($fillColor, $strokeColor) {
    // position: relative;
    background-color: $fillColor;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease;
    
    &::before {
        content: '\f507';
        font-family: 'Material Symbols Outlined';
        font-size: 24px;
        font-variation-settings:
          'FILL' 1,
          'wght' 200,
          'GRAD' 0,
          'opsz' 24;        
        color: $strokeColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-indent: 0;
        @include icon-font-loader;
    }
}

@mixin button-close--lg($fillColor, $strokeColor) {
    transition: background-image 0.3s ease;
    background-image: url('data:image/svg+xml,%3Csvg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="0.84375" width="49.9798" height="49.9798" rx="24.9899" fill="#{$fillColor}"/%3E%3Cpath d="M31.1556 30.5042L20.9463 20.2949" stroke="#{$strokeColor}" stroke-width="1.56187"/%3E%3Cpath d="M31.1556 20.2887L20.9463 30.498" stroke="#{$strokeColor}" stroke-width="1.56187"/%3E%3C/svg%3E%0A');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
}

@mixin button-arrow--lg($fillColor, $strokeColor) {
    position: relative;
    background-color: $fillColor;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease;
    
    &::before {
        content: '\e5c8'; // arrow_forward code point
        font-family: 'Material Symbols Outlined';
        font-size: 24px;
        font-variation-settings:
          'FILL' 1,
          'wght' 200,
          'GRAD' 0,
          'opsz' 24;        
        color: $strokeColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include icon-font-loader;
    }
}

@mixin button-chevron--md($fillColor, $strokeColor) {
    position: relative;
    background-color: $fillColor;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: background-color 0.3s ease;
    
    &::before {
        content: '\e316'; // arrow_forward code point
        font-family: 'Material Symbols Outlined';
        font-size: 18px;
        font-variation-settings:
          'FILL' 1,
          'wght' 200,
          'GRAD' 0,
          'opsz' 24;        
        color: $strokeColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include icon-font-loader;
    }
}

@mixin button-check--sm($fillColor, $strokeColor) {
    position: relative;
    background-color: $fillColor;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: background-color 0.3s ease;
    
    &::before {
        content: '\e5ca'; // arrow_forward code point
        font-family: 'Material Symbols Outlined';
        font-size: 16px;
        font-variation-settings:
          'FILL' 1,
          'wght' 200,
          'GRAD' 0,
          'opsz' 24;        
        color: $strokeColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include icon-font-loader;
    }
}