@mixin breakpoint($point) {
  @if $point == small {
    @media (min-width: $breakpoint__small) {
      @content;
    }
  } @else if $point == mobilemax {
    @media (max-width: $breakpoint__medium) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: $breakpoint__medium) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: $breakpoint__large) {
      @content;
    }
  } @else if $point == xlarge {
    @media (min-width: $breakpoint__xlarge) {
      @content;
    }
  } @else if $point == xxlarge {
    @media (min-width: $breakpoint__xxlarge) {
      @content;
    }
  }
}

@mixin content-wide {
    & {
        width: auto;
        padding-left: 24px;
        padding-right: 24px;
    }
    
    @include breakpoint(tablet) {
        // width: calc(1223px + 48px);
        // max-width: 100%;
        width: 1223px; // content width only
        max-width: calc(100% - 48px); // account for padding        
        margin-left: auto;
        margin-right: auto;
    }    
}

@mixin button-expand--lg($fillColor, $strokeColor) {
    transition: background-image 0.3s ease;
    background-image: url('data:image/svg+xml,%3Csvg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="0.810547" y="0.84375" width="49.9798" height="49.9798" rx="24.9899" fill="#{$fillColor}"/%3E%3Cpath d="M34.0807 25.3965H19.6426" stroke="#{$strokeColor}" stroke-width="1.56187"/%3E%3Cpath d="M26.8613 18.1771V32.6152" stroke="#{$strokeColor}" stroke-width="1.56187"/%3E%3C/svg%3E%0A');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
}

@mixin button-close--lg($fillColor, $strokeColor) {
    transition: background-image 0.3s ease;
    background-image: url('data:image/svg+xml,%3Csvg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect y="0.84375" width="49.9798" height="49.9798" rx="24.9899" fill="#{$fillColor}"/%3E%3Cpath d="M31.1556 30.5042L20.9463 20.2949" stroke="#{$strokeColor}" stroke-width="1.56187"/%3E%3Cpath d="M31.1556 20.2887L20.9463 30.498" stroke="#{$strokeColor}" stroke-width="1.56187"/%3E%3C/svg%3E%0A');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
}