$typography: (
  display-xl: (
    element: "h1",
    desktop: (size: 64px, line-height: 100%), // Larger than heading-xl
    mobile:  (size: 52px, line-height: 100%),
    weight: 700
  ),
  eyebrow: (
    element: ".eyebrow",
    desktop: (size: 14px, line-height: 150%),
    mobile:  (size: 12px, line-height: 150%),
    weight: 700,
    text-transform: uppercase
  ),  
  heading-xl: (
    element: "h1",
    desktop: (size: 56px, line-height: 100%), // -2%
    mobile:  (size: 48px, line-height: 100%), // -2%
    weight: 700
  ),
  heading-lg: (
    element: "h2",
    desktop: (size: 48px, line-height: 110%), // 0% 64px
    mobile:  (size: 36px, line-height: 120%), // -1%
    weight: 700
  ),
  heading-md: (
    element: "h3",
    desktop: (size: 40px, line-height: 110%), // 0%
    mobile:  (size: 28px, line-height: 120%), // -1%
    weight: 700
  ),
  heading-sm: (
    element: "h4",
    desktop: (size: 32px, line-height: 120%), // -1%
    mobile:  (size: 26px, line-height: 120%), // -1%
    weight: 700
  ),
  heading-xs: (
    element: "h5",
    desktop: (size: 24px, line-height: 120%), // -1%
    mobile:  (size: 20px, line-height: 120%), // 0%
    weight: 700
  ),
  heading-xxs: (
    element: "h6", // was h6
    desktop: (size: 20px, line-height: 120%), // 22px
    mobile:  (size: 18px, line-height: 120%), // 0%
    weight: 700
  ),
  body: (
    element: "p",
    desktop: (size: 18px, line-height: 140%, letter-spacing: 0em), // 0%
    mobile:  (size: 16px, line-height: 140%, letter-spacing: 0em), // 0%
    weight: 400
  ),
  small: (
    element: ".small",
    desktop: (size: 16px, line-height: 150%), // 19%
    mobile:  (size: 14px, line-height: 150%), // 19%
    weight: 400
  ),    
  overline: (
    element: ".overline",
    desktop: (size: 14px, line-height: 150%), // 19%
    mobile:  (size: 12px, line-height: 150%), // 19%
    weight: 700
  ),  
  caption: (
    element: ".caption",
    desktop: (size: 14px, line-height: 150%), // 8%
    mobile:  (size: 12px, line-height: 150%), // 8%
    weight: 700,
    text-transform: uppercase
  ),
  button: (
    element: ".button",
    desktop: (size: 14px, line-height: 140%, letter-spacing: 0em), // 0%
    mobile:  (size: 14px, line-height: 140%, letter-spacing: 0em), // 0%
    weight: 500
  ),
  body-link: (
    element: "a",
    desktop: (size: 18px, line-height: 140%, letter-spacing: 0%),
    mobile:  (size: 16px, line-height: 140%, letter-spacing: 0%),
    weight: 400
  )

);
