@use 'typography.mixins' as *;

/** Ref: https://typescale.com/ */
.heading-xl {
  font-size: 40px; //48 was 3rem
  line-height: 1.25;
  font-weight: 700;
  margin: 0 0 0.25rem;
  color: var(--color__primary--dark);

  @include breakpoint(medium) {
    font-size: 56px; // 56
  }

  strong {
    font-weight: 700;
  }
}

.heading-lg {
  font-size: 36px; //41.6
  line-height: 1.25;
  font-weight: 700;
  margin: 0 0 1rem 0;

  @include breakpoint(medium) {
    font-size: 48px; //36
  }

  strong {
    font-weight: 700;
  }  
}

.heading-md {
  font-size: 28px; // 26
  line-height: 1.25;
  font-weight: 700;
  margin: 0 0 1rem 0;

  @include breakpoint(medium) {
    font-size: 40px; //30
  }

  strong {
    font-weight: 700;
  }  
}

.heading-sm {
  font-size: 24px; // 22
  line-height: 1.25;
  font-weight: 700;
  margin: 0 0 0.5rem 0;

  @include breakpoint(medium) {
    font-size: 32px; // 24
    margin: 0 0 1rem 0;
  }

  strong {
    font-weight: 700;
  }  
}

.heading-xs {
  font-size: 20px; // 18
  line-height: 1.25;
  font-weight: 700;
  margin: 0 0 0.25rem;
  // margin: 0 0 1rem 0;

  @include breakpoint(medium) {
    font-size: 24px; // 20
  }

  strong {
    font-weight: 700;
  }  
}

.heading-xxs {
  font-size: 18px; // 14
  line-height: 1.25;
  font-weight: 700;
  margin: 0 0 0.25rem;

  @include breakpoint(medium) {
    font-size: 20px; // 15
  }

  strong {
    font-weight: 700;
  }  
}

p {
  font-size: 16px;

  @include breakpoint(medium) {
    font-size: 18px;
  }
  margin-bottom: 1.5rem;

  a {
    color: var(--color__primary--dark); // 20220929 color__primary
  }
}

ul,
ol {
  li {
    a {
      color: var(--color__primary--dark); // 20220929 color__primary
    }
  }
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  position: relative;
  padding: 0 1.5rem;
  display: inline-block;

  & > p {
    margin-bottom: 0;

    @include breakpoint(medium) {
      margin-bottom: 1.5rem;
    }
  }

  &::before {
    content: "\201C";
    font-size: 6rem;
    line-height: 1;
    position: absolute;
    top: -0.5rem;
    left: -1rem;
    color: black;
    display: inline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &.--variable-background {
    text-shadow: 2px 2px 2px black;
    font-weight: 700;
    color: white;
  }

  a {
    color: var(--color__primary);
  }
}

.balance-text {
  text-wrap: balance;
}
