.cta-button {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;

	a,button {
		display: inline-flex;

		padding: 1rem 1.25rem calc(1rem - 1px) 1.25rem;
		display: inline-flex;
		flex-direction: column;
		text-transform: uppercase;
		font-weight: 600;
		text-decoration: none;
		font-size: 1.25rem;
		line-height: 1;
		letter-spacing: var(--letter-spacing);
		width: auto;
		border-radius: 3px;
		border: none;
		position: relative;
		cursor: pointer;
		text-align: center;		
	  
		&::after {
		  content: "";
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  width: 0;
		  height: 3px;
		  background: var(--color__primary--dark); // 20220929 color__primary
		  transition: width 0.2s ease-in-out;
		  border-bottom-left-radius: 3px;
		  border-bottom-right-radius: 3px;
		}
	  
		&:hover {
		  background: hsla(0, 100%, 100%, 1);
	  
		  &::after {
			left: 0;
			width: 100%;
		  }
		}	
		
		&.cta-button--primary {
			background: var(--color__primary--dark); // 20220929 color__primarys
			color: white;
		}
		
		&.cta-button--secondary {
			background: var(--color__secondary);
			color: black;
		
			&::after {
				background: var(--color__secondary--dark);
			}
		}

		&.cta-button--gradient {
			background: linear-gradient(
				130deg,
				var(--color__secondary),
				var(--color__attention)
			  );
			  background-size: 200% 200%;
			  animation: navAnimation 5s ease infinite;
			  color: white;
			  display: flex;
			  height: 100%;
			  justify-content: center;
		  
			  &::after {
				background: var(--color__attention);
			  }			
		}
	}
}