.gform_wrapper {
	@include breakpoint(medium) {
		max-width: 600px;
		margin: 0 auto;
	}

	.gform_heading {
		display: none;
	}

	.gform_body {

		fieldset {
			padding: 0;
			border: 0;
		}

		.gfield {
			margin: 1.5rem 0;

			.gfield_label {
				font-weight: 600;
				color: var(--color__primary);
				font-size: 14px;
				margin-bottom: 4px;

				.gfield_required {
					margin-left: 0.125rem;
				}
			}			
		}

		input[type="text"],
		input[type="phone"],
		input[type="email"],
		select{
			height: 36px;
			border-radius: 3px;
			padding-left: .5rem;
			padding-right: .5rem;
			font-size: 14px !important;
			color: #222 !important;

			&::placeholder {
				font-size: 14px;
			}
		}

		textarea {
			border-radius: 3px;
			padding-left: .5rem;
			padding-right: .5rem;
			font-size: 14px !important;
			color: #222 !important;
			resize: none;

			&::placeholder {
				font-size: 14px;
			}
		}
		
		input[type="checkbox"] + label {
			font-size: 14px !important;
			color: #222 !important;
		}

		.gform-field-label--type-sub {
			font-size: 12px;
			display: block;
		}

		.gfield--type-name {

			.ginput_container--name {
				display: flex;
				flex-direction: column;
				gap: 20px;

				@include breakpoint(medium) {
					display: flex;
					flex-direction: row;
					justify-content: space-between;	
					gap: 40px;
				}

				input {
					display: block;
					width: 100%;
				}

				span,
				span label {
					width: 100%;
					display: block;
					font-size: 12px;
				}
			}
		}

		.gfield--type-address {

			.ginput_container_address {
				display: grid;
				column-gap: 10px;
				row-gap: 10px;

				grid-template-areas: 
				
				"address1"
				"address2"
				"city"
				"state"
				"zip"
				;					

				@include breakpoint(medium) {
					column-gap: 40px;
					grid-template-areas: 
				
					"address1 address1"
					"address2 address2"
					"city state"
					"zip ."
					;	
				}
			
			}

			.ginput_address_line_1 {
				grid-area: address1;
				width: 100%;
			}

			.ginput_address_line_2 {
				grid-area: address2;
				width: 100%;
			}

			.ginput_address_city {
				grid-area: city;

				input {
					width: 100%;
				}
			}

			.ginput_address_state {
				grid-area: state;
				width: 100%;
				font-size: 12px;

				select {
					width: 100%;

					option {
						font-size: 12px;
					}
				}
			}

			.ginput_address_zip {
				grid-area: zip;
			}
			
			.ginput_address_line_1,
			.ginput_address_line_2 {
				display: block;
				width: 100%;

				input {
					width: 100%;
				}

				span {
					display: block;
				}
			}
		}

		.gfield--type-email {

			input {
				width: 100%;

				@include breakpoint(medium)  {
					width: 50%;
				}
			}

		}

		.gfield--type-phone {

			input {
				width: 100%;

				@include breakpoint(medium)  {
					width: 50%;
				}
			}

		}		
	
		input[type="submit"] {
			background: var(--color__primary);
			color: white;
			border-radius: var(--border-radius);
		}
	}


}