#rank-math-faq {
	margin: 1.5rem auto;
	width: 1200px;
	max-width: 1200px;

	.rank-math-list {
		display: flex;
		flex-direction: column;
		align-content: start;
		gap: 24px;

		.rank-math-list-item {
			text-align: left;
			
			& > * {
				text-align: left;
			}
		}
	}
}