@at-root{
	@keyframes schedulerFadeIn {
		0% { 
			// background-color: transparent; 
			opacity: 0;
		}
		100% { 
			// background-color: hsla(0, 0%, 5%, 0.9);
			opacity: 1;
		} 
	}

	@keyframes schedulerFadeOut {
		0% { 
			// background-color: hsla(0, 0%, 5%, 0.9);
			opacity: 1;
		}
		100% { 
			opacity: 0;
			// background-color: red;
		} 
	}	

	@keyframes schedulerModalFadeIn {
		0% { 
			opacity: 0;
		}
		100% { 
			opacity: 1;
		} 
	}

	@keyframes schedulerModalFadeOut {
		0% { 
			opacity: 1;
		} 
		
		100% { 
			opacity: 0;
		}
	}	

	@keyframes fieldsetOut {
		0% {
			position: relative;
			left: 0;
		}

		100% {
			position: relative;
			left: calc(100vw * -1);
		}
	}

	@keyframes fieldsetIn {
		0% {
			position: relative;
			left: calc(100vw);
		}

		100% {
			position: relative;
			left: calc(100vw * -1);
		}
	}	
}

.--fieldsetOut {
	animation: fieldsetOut .5s ease-in-out both;
}

.--fieldsetIn {
	animation: fieldsetIn .5s ease-in-out both;
}

.--modalOpen {
	animation: schedulerFadeIn .2s ease-in forwards;
	
}

.--modalClose {
	animation: schedulerFadeOut .2s ease-in both;
}

.--modalContainerOpen {
	animation: schedulerFadeIn .2s ease-in both;
	
}

.--modalContainerClose {
	animation: schedulerFadeOut .2s ease-in both;
}

#scheduler-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: hsla(0, 0%, 5%, 0.9);
	display: none;

	#scheduler-container {
		width: 60%;
		min-height: 30vh;
		height: 60vh;
		position: relative;
		background: white;
		border-radius: 20px;
		display: none;

		#scheduler-close {
			position: absolute;
			top: 0;
			right: 0;
			background: none;
			border: none;
			width: 44px;
			height: 44px;
			z-index: 2;

		}

		#scheduler-form {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;



			fieldset {
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 50px;
				border: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				position: relative;
				z-index: 1;

				.fieldsetNav {
					position: absolute;
					bottom: 30px;
					left: 50%;
					transform: translateX(-50%);
					width: 100%;
					display: flex;
					justify-content: center;
					gap: 50px;

					.fieldsetNav--next {
						font-family: var(--font);
						background: none;
						border: none;
						color: var(--color__primary--dark);
						position: relative;
						line-height: 32px;
						text-transform: uppercase;
						display: inline-block;

						&:disabled {
							color: var(--color__neutral);

							&:before {
								border: solid 1px var(--color__neutral);
								background: white;
								color: var(--color__neutral);
							}
						}

						&:hover {
							text-decoration: underline;
						}

						&:before {
							width: 32px;
							height: 32px;
							content: "\e5cc";
							font-size: 1.5rem;
							position: absolute;
							top: 0;
							right: -32px;
							// border: solid 1px var(--color__neutral);
							background: var(--color__primary--dark);
							color: white;
							border-radius: 50%;
							font-family: "Material Symbols Outlined";
							font-weight: 200;
						}
					}					
					
					.fieldsetNav--back {
						font-family: var(--font);
						background: none;
						border: none;
						color: var(--color__primary--dark);
						position: relative;
						line-height: 32px;
						text-transform: uppercase;
						display: inline-block;

						&:hover {
							text-decoration: underline;
						}

						&:before {
							width: 32px;
							height: 32px;
							content: "\e5cb";
							font-size: 1.5rem;
							position: absolute;
							top: 0;
							left: -32px;
							border: solid 1px var(--color__primary--dark);
							color: var(--color__primary--dark);
							border-radius: 50%;
							font-family: "Material Symbols Outlined";
							font-weight: 200;
						}						
					}
				}

			}

			fieldset:first-child {
				position: absolute;
				// top: 100vh;
				left: 100vw;
			}

			fieldset:not(:first-child) {
				position: absolute;
				left: 100vw;
			}
			

			.schedulerFieldset__radioButtons {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				gap: 20px;
			}

			label.schedulerField__radioButtonWrap,
			label.schedulerField__checkboxWrap {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 200px;
				height: 40px;
				position: relative;
				z-index: 2;
				border: none;
				padding: 0;
				font-family: var(--font);
				font-weight: 600;

				&:has(input:checked) {
					color: white;
				}

				input[type="radio"],
				input[type="checkbox"] {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					margin: 0;
					display: block;
					appearance: none;
					z-index: -1;
					background: white;
					border: solid 1px var(--color__primary--dark);
					border-radius: 7px;
					color: var(--color__primary--dark);

					&:checked {
						background: var(--color__primary--dark);
						color: red;
					}
				}
			}

			.schedulerField-selectWrapper {
				position: relative;
				display: inline-block;
				width: 200px;
				height: 40px;

				select {
					appearance: none;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 7px;
					text-align: center;
					// padding-right: 44px;
					background: transparent;
					font-family: var(--font);
					font-weight: 600;
					background: var(--color__primary--dark);
					color: white;

					&:focus {
						outline: none;
						border: none;
					}
				}

				&:after {
					font-family: 'Material Symbols Outlined';
					content: "\e5cf";
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					font-size: 36px;
					font-weight: 100;
					line-height: 1;
					top: 0;
					right: 0;
					width: 44px;
					height: 100%;
					z-index: 1;
					pointer-events: none;
					// background: hsla(0, 100%, 100%, 0.5);
					text-align: center;
					color: white;
					
				}
			}

			.schedulerFieldset__textArea {
				width: 70%;
				textarea {
					border: solid 1px var(--color__primary--dark);
					padding: 1rem;
					font-family: var(--font);
					font-size: 1rem;
					resize: none;
					width: 100%;
				}
			}

		}
	}
}