@use '../common/mixins' as *;
// @use '../abstracts/colors.functions' as *;
@use '../common/typography.mixins' as *;

.type-page {
	padding: 200px 0rem 100px 0rem;
	// display: flex;
	// align-items: center;
	// flex-direction: column;

	@include breakpoint(xlarge) {
		padding: 260px 0 100px 0;
	}

	

	.entry-header {
		margin-bottom: 60px;
		color: var(--color__primary--dark);

		@include breakpoint(medium) {
			margin-bottom: 120px;
		}

		h1 {
			// font-family: var(--font);
			// color: var(--color__primary--dark);
			// text-align: center;
			// text-wrap: balance;
			

			// @include breakpoint(medium) {
			// 	font-size: 61.04px;
			// }
			text-align: center;
			@include apply-type(display-xl)
		}	
	}

	.entry-content {
		max-width: 100%;

		// @include breakpoint(medium){
		// 	padding: 0 1rem;
		// }		

		// @include breakpoint(xlarge){
		// 	width: 1200px;
		// 	max-width: 1200px;
		// }

		/** Figure this out */

		& > p,h2,h3,h4,h5,h6,ul,ol {
			// width: 1200px;
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
		}
		
		& > ul,ol {
			margin-bottom: 1.5rem;
		}

		& > .wp-block-image {
			margin-bottom: 1.5rem;
		}

		h2 {
			font-family: var(--font);
			color: var(--color__primary--dark);
			margin-bottom: 8px;

			@include apply-type(heading-md);
		}	
		
		h3 {
			font-family: var(--font);
			color: var(--color__primary--dark);
			margin-bottom: 8px;

			@include apply-type(heading-xs);
		}			

		h4 {
			font-family: var(--font);
			color: var(--color__primary--dark);
			margin-bottom: 8px;

			@include apply-type(heading-sm);
		}	
		
		h5 {
			font-family: var(--font);
			color: var(--color__primary--dark);
			margin-bottom: 8px;

			@include apply-type(heading-xs);
		}	
		
		h6 {
			font-family: var(--font);
			color: var(--color__primary--dark);
			margin-bottom: 8px;

			@include apply-type(heading-xxs);
		}	
		
		.contain {
			@include breakpoint(xlarge){
				width: 1200px;
				max-width: 1200px;
				margin-left: auto;
				margin-right: auto;
			}			
		}		
	}


}