.type-page {
	padding: 200px 1rem 100px 1rem;
	// display: flex;
	// align-items: center;
	// flex-direction: column;

	@include breakpoint(xlarge) {
		padding: 260px 0 100px 0;
	}

	

	.entry-header {

		h1 {
			font-family: var(--font);
			color: var(--color__primary--dark);
			text-align: center;
			text-wrap: balance;
			

			@include breakpoint(medium) {
				font-size: 61.04px;
			}
		}	
	}

	.entry-content {
		max-width: 100%;

		// @include breakpoint(medium){
		// 	padding: 0 1rem;
		// }		

		// @include breakpoint(xlarge){
		// 	width: 1200px;
		// 	max-width: 1200px;
		// }

		/** Figure this out */

		& > p,h2,h3,h4,h5,h6,ul,ol {
			// width: 1200px;
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
		}
		
		& > ul,ol {
			margin-bottom: 1.5rem;
		}

		& > .wp-block-image {
			margin-bottom: 1.5rem;
		}

		h2 {
			font-family: var(--font);
			font-weight: 700;
			font-size: 39.81px;
			color: var(--color__primary--dark);

			@include breakpoint(medium) {
				font-size: 48.83px;
			}
		}	
		
		h3 {
			font-family: var(--font);
			font-weight: 700;
			font-size: 33.18px;
			color: var(--color__primary--dark);

			@include breakpoint(medium) {
				font-size: 39.06px;
			}
		}			

		h4 {
			font-family: var(--font);
			font-weight: 700;
			font-size: 27.65px;
			color: var(--color__primary--dark);

			@include breakpoint(medium) {
				font-size: 31.25px;
			}
		}	
		
		h5 {
			font-family: var(--font);
			font-weight: 700;
			font-size: 23.04px;
			color: var(--color__primary--dark);

			@include breakpoint(medium) {
				font-size: 25px;
			}
		}	
		
		h6 {
			font-family: var(--font);
			font-weight: 700;
			font-size: 19.2px;
			color: var(--color__primary--dark);

			@include breakpoint(medium) {
				font-size: 20px;
			}
		}	
		
		.contain {
			@include breakpoint(xlarge){
				width: 1200px;
				max-width: 1200px;
				margin-left: auto;
				margin-right: auto;
			}			
		}		
	}


}