.footer-cta {
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: var(--color__secondary);
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(medium) {
    padding-top: 80px;
    padding-bottom: 110px;
  }

  .footer-cta__card {
    background: white;
    border-radius: 4px;
    padding: 20px 40px;
    text-align: center;
    width: 100%;
    max-width: 360px;
    box-shadow: 5px 9px 30px 1px rgba(0,0,0,0.26);

    @include breakpoint(medium) {
      padding: 40px 160px;
      max-width: 770px;
    }

    h4 {
      font-size: 24px;
      font-weight: 700;
      color: var(--color__primary--dark);
      
      @include breakpoint(medium) {
        font-size: 34px;
      }
    }

    p {
      font-size: 16px;

      @include breakpoint(medium) {
        font-size: 18px;
      }
    }

    .button__book-now {
      &.button__book-now--primary {
        background: linear-gradient(
          130deg,
          var(--color__secondary),
          var(--color__attention)
        );
        background-size: 200% 200%;
        animation: navAnimation 5s ease infinite;
        color: white;
        border: none;
        border-radius: 4px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 50px;
        padding-right: 50px;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
        transition: background-color 0.3s ease;

        @include breakpoint(medium) {
          font-size: 14px;
        }

        &:hover {
          color: white;
        }
      }
    }    
  }
 }

footer.site-footer {
  display: flex;
  background: #d3d6da;
  padding: var(--section__padding);
  flex-direction: column;
  z-index: 2;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: var(--color__primary--dark);
  margin-top: -30px;

  @include breakpoint(medium) {
    flex-direction: column;
  }
  
  .footer__header {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(#0c1e31, .2);
    gap: 16px;
    

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer__header-brand {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include breakpoint(medium) {
        gap: 16px;
      }

      .footer__header-brand-logo {
        width: 100%;
        max-width: 80px;

        @include breakpoint(medium) {
          max-width: 127px;
        }
      }

      .footer__header-brand-tagline {
        margin-bottom: 0;
        font-style: italic;
        font-weight: 600;
      }
    }

    .footer__header-contact {
      display: flex;
      flex-direction: column;
      gap: 21px;

      .button__book-now {
        max-width: fit-content;
        &.button__book-now--secondary {
          background: none;
          border: solid 1px var(--color__primary--dark);
          color: var(--color__primary--dark);
          border-radius: 4px;
          padding-top: 12px;
          padding-bottom: 12px;
          padding-left: 50px;
          padding-right: 50px;          
          text-transform: uppercase;
          font-weight: 800;
          font-size: 12px;
          transition: background-color 0.3s ease;

          @include breakpoint(medium) {
            font-size: 14px;
          }

          &:hover {
            background: var(--color__primary--dark);
            color: white;
          }
        }
      }

      .footer__contact-number {
        font-size: 18px;
        font-weight: 800;
        color: var(--color__primary--dark);
        text-decoration: none;

        @include breakpoint(medium) {
          font-size: 24px;
        }

      }
    }
  }

  .footer__main {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(#0c1e31, .2);
    

    @include breakpoint(medium) {
      // flex-direction: row;
      // justify-content: space-between;
      // gap: 100px;
    }

    .footer__main-group {
      display: flex;
      flex-direction: column;

      @include breakpoint(medium) {
        flex-direction: row;
      }
    }


    .footer__address {
      
      @include breakpoint(medium) {
        flex: 0 0 400px;
      }

      h5 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
        color: rgba(#0c1e31, .75);

        @include breakpoint(medium) {
          font-size: 14px;
        }
      }
        
      p {
        @include apply-type(small);
      }
    }

    .footer__main-menus {
      display: grid;
      // grid-template-columns: repeat(3, 1fr);
      grid-template-columns: auto;
      width: 100%;
      gap: 30px;
      // gap: 30px;

      @include breakpoint(medium) {
        
        // gap: 50px;      
      }

      @include breakpoint(large) {
        // gap: 100px;
        // flex-direction: row;
        grid-template-columns: repeat(3, minmax(200px, 380px));
      }

      @include breakpoint(xlarge) {
        // gap: 180px;
        // width: 70%;
      }      



      & > div {
        display: flex;
        flex-direction: column;
        gap: 5px;

        @include breakpoint(medium) {
          // width: 100%;
          // max-width: 370px;
          // gap: 10px;
        }   
        
        @include breakpoint(large) {
          // width: auto;
        }   

        h5 {
          text-transform: uppercase;
          font-weight: 800;
          font-size: 12px;
          color: rgba(#0c1e31, .75);

          @include breakpoint(medium) {
            font-size: 14px;
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 3px;

          @include breakpoint(medium) {
            gap: 5px;
          }

          li {
            a {
              text-decoration: none;
              @include apply-type(small);
            }
          }
        }
      }

      .footer__menu-about-social {
        .footer__menu-about-social-icons {
          display: flex;
          flex-direction: row;
          gap: 5px;
          list-style: none;
          .footer__menu-about-social-icon {
            .footer__menu-about-social-icon-link {
              display: block;

              .footer__menu-about-social-icon-link-image {
                width: 24px;
                height: 24px;  
              }
            }
          }
        }
      }
    }
  }

  .footer__footer {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 20px;
    font-size: 12px;
    color: rgba(#0c1e31, .5);
    gap: 16px;

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 14px;
    }

    .footer__footer-brand-associations {
      display: flex;
      align-items: center;

      
      gap: 30px;

      @include breakpoint(medium) {
        flex-direction: column;
        flex: 0 0 260px;
      }

      .footer__brand-associations-badge {

        @include breakpoint(medium) {
          display: flex;
          justify-content: end;        
        }

        .footer__brand-badge {
          // width: 100%;
          // max-width: 227px;
        }
      }

      .footer__associations {
        display: flex;
        list-style: none;
        gap: 20px;

        li {
          // max-height: 70px;

          img {
            // max-height: 50px;

            @include breakpoint(medium) {
              // max-height: 70px;
            }
          }
        }
      }
    }  
    
    .footer__footer-site-info {
      display: flex;
      flex-direction: column;
      gap: 8px;
  

      h5 {
        text-transform: capitalize;
        font-weight: 800;
        font-size: 12px;
        color: rgba(#0c1e31, .75);

        @include breakpoint(medium) {
          font-size: 14px;
        }
      }      
    }

    .menu-footer-utility-menu-container {
      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        @include breakpoint(medium) {
          flex-direction: row;
        }

        li {
          a {
            color: rgba(#0c1e31, .5);
            text-decoration: none;
          }
        }
      }
    }
  }


}
