@import "../components/nav";

/** Tommy's Electric */
.banner__tommys-electric {
	background: #eb283a;
	padding: 8px 20px;
	display: flex;
	justify-content: center;
	align-items: center;

	@include breakpoint(medium) {
		padding: 12px 20px;
	}

	&.--tommys--hide {
		display: none;
	}

	& > div {
		max-width: 1180px;
		display: flex;
		flex-direction: column;
		gap: 24px;
		align-items: center;
		text-align: center;

		@include breakpoint(large) {
			flex-direction: row;
			text-align: left;
		}

		.banner__tommys-electric-logo {
			display: none;

			@include breakpoint(large) {
				display: none;
			}
		}
		
		.banner__tommys-electric-content {
			text-align: center;
			h3 {
				font-family: var(--font);
				color: white;
				margin-bottom: 5px;
				font-size: 13px;
				font-weight: 700;

				@include breakpoint(medium) {
					font-size: 19px;
					font-weight: 700;
				}				

				// @include breakpoint(large) {
				// 	font-size: 24px;
				// 	font-weight: 700;
				// }

			}
			p {
				margin-bottom: 0;
				font-family: var(--font);
				font-size: 12px;
				font-weight: 600;

				@include breakpoint(medium) {
					font-size: 16px;
				}
				
				a {
					color: white;
					text-decoration: none;
					display: flex;
					flex-direction: column;
					align-items: center;

					@include breakpoint(medium) {
						flex-direction: row;
						gap: 7px;
					}
				}

				// @include breakpoint(large) {
				// 	font-size: 20px;
				// }
			}
		}		
	}
}

.header__status {

	@include breakpoint(large) {
		background: var(--color__primary--dark);
		height: 40px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
	}
	&.header__status--hide {
	  display: none;
	}

	p {
	  display: none;

	  @include breakpoint(medium) {
		display: block;
	  }

	  &.header__status-message {
		font-weight: 700;
		letter-spacing: var(--letter-spacing);
		font-size: 16px;
		margin-bottom: 0;
		text-align: center;		
		color: var(--color__secondary);
	  }
	}

	.utility-menu {
		display: none;

		&.utility-menu--show {
			display: block;
			z-index: 9999;
			position: fixed;
			width: 100vw;
		}

		@include breakpoint(medium) {
			display: block;
		}

		#menu-utility-menu {
			display: flex;
			gap: 10px;
			flex-direction: column;
			width: 200px;
			align-items: center;
			margin: .5rem auto 0;

			@include breakpoint(medium) {
				flex-direction: row;
				margin: 0;
			}
		}

		a {
			border: solid 1px white;
			color: white;
			text-decoration: none;
			border-radius: 4px;			
			color: white;
			font-size: 12px;
			display: block;
			width: 200px;
			padding: .5rem;

			@include breakpoint(medium) {
				width: auto;
				padding: 2px 6px;
			}
			
			&:hover {
				background: white;
				color: var(--color__primary);
			}
		}
	}
}

.header__mobile-call {
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50px;
	z-index: 9998;

	&.header__mobile-call--scroll {
		position: fixed;
		width: 100%;
		top: 50px;
	}

	h2 {
		color: var(--color__attention);
		font-size: 18px;
		line-height: 1;
		font-weight: 500;
		margin-bottom: 0;
	
		a {
			font-weight: 700;
			color: var(--color__attention);
			text-decoration: none;
		}
	}

	@include breakpoint(large) {
		display: none;
	}

}

header.site-header {
  position: fixed;
  width: 100vw;
  z-index: 9999;

  &.header--bannerScroll {
	top: 0;

	button.header__nav-button {
		top: 16px;
		
		@include breakpoint(mobilemax) {
			top: 4px;
		}

		@include breakpoint(medium) {
			top: 0;
		}
	}
  }

  &.header__nav--open {
	position: static;
  }

  // Mobile Nav
  &.header--static {
    top: 0;
  }

  .header__content {
    padding: 2rem 1rem 1rem;
    background: var(--color__primary--dark);
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 8rem;


	.header-google-reviews {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%) translateY(-40%);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		text-decoration: none;
		background: white;
		width: 100%;
		padding: .25rem 1rem;

		&.header-google-reviews--scroll {
			display: none;
			background: transparent;
		}

		@include breakpoint(large) {
			// top: -5px;
			// left: 500px;
			position: static;
			width: auto;
			transform: translateX(0) translateY(0);
			background: transparent;
			padding: .25rem 1rem;
			border-right: solid 1px #7D9392;
		}

		.header-google-reviews--excellent {

			p {
				margin-bottom: 0;
				color: var(--color__primary--dark);
				font-family: var(--font);
				font-weight: 800;
				text-transform: uppercase;
				letter-spacing: var(--letter-spacing);
				font-size: 14px;

				@include breakpoint(large) {
					font-size: 1rem;
					color: white;
				}
			}
			
		}

		.header-google-reviews--stars {
			display: flex;
			gap: 1px;

			span {
				font-variation-settings:
				'FILL' 1,
				'wght' 400,
				'GRAD' 0,
				'opsz' 24;
				color: var(--color__secondary);
			}
		}

		.header-google-reviews--reviewTotal {

			p {
				color: white;
				font-family: var(--font);
				font-weight: 400;
				font-size: 11px;
				margin-bottom: 0;
				color: var(--color__primary--dark);

				@include breakpoint(large) {
					font-size: 12px;
					color: white;
				}
			}
		}
	}

    &.header__content--min {
      min-height: 3.3rem;
    }

    @include breakpoint(large) {
      min-height: 10rem;
    }

    @include breakpoint(xlarge) {
      padding: 1rem;
      min-height: 11rem;
    }

    .header__content-branding {
      a {
        display: block;

        img {
          &.header__brand-logo {
            position: absolute;
            width: calc(140px * 1.3); // 20%
            bottom: -54px; // -42
			left: 50%;
			transform: translateX(-50%);


            @include breakpoint(large) {
              width: calc(252px * 1.1); // 10%
              bottom: -80px; // -76
			  left: auto;
			  transform: translate(0);
            }

            @include breakpoint(xlarge) {
              width: calc(252px * 1.2); // 20%
              bottom: -92px; // -76
            }

            &.header__brand-logo--hide {
              display: none;

			  @include breakpoint(large) {
				display: block;
				width: calc(170px * 1.1); // 10%
				bottom: -56px;				
			  }
            }
          }

          &.header__brand-logo-min {
            width: 4rem;
            position: absolute;
            top: 0.75rem;
            left: var(--gutter);
            display: none;

            @include breakpoint(medium) {
              width: 4.5rem;
            }

            @include breakpoint(xlarge) {
              top: 1.25rem;
            }

            &.header__brand-logo-min--show {
              display: block;

			  @include breakpoint(large) {
				display: none;
			  }
            }
          }
        }
      }

      .header__badge {
        display: none;

		// 10%
		@include breakpoint(large) {
			display: block;
			position: absolute;
			// bottom: calc(-1 * (108px / 2));
			left: calc(1rem + 260px + 2rem); // 300
			width: 94px;
			height: 108px; //
		}

		// 20%
		@include breakpoint(xlarge) {
		// bottom: calc(-1 * (126px / 2));
		// left: calc(1rem + (252px * 1.2) + 2rem); // 300
		top: 23px;
		left: calc(1rem + 290px + 2rem);
		width: 110px; // 92
		height: 126px; // 103
		}

        .header__years {
            display: block;
            text-align: center;
            font-weight: 800;
            color: var(--color__primary);

            @include breakpoint(small) {
              font-size: 36px;
              transform: translate(0, 3px);
            }

            @include breakpoint(medium) {
              font-size: 40px;
              transform: translate(0, 3px);
            }

            @include breakpoint(large) {
              font-size: 48px;
              transform: translate(0, 2px);
            }

            @include breakpoint(xlarge) {
              font-size: 60px;
              font-weight: 800;
              transform: translate(0, 0);
            }
        }

          &.header__badge--hide {
            display: none;
          }
      }
    }

    .header__content-actions {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
	  justify-content: center;
      width: calc(100% - 50%);

      // @include breakpoint(small) {
      //   width: calc(100% - 50%);
      // }

      // @include breakpoint(large) {
      //   height: auto;
      //   justify-content: space-between;
      //   width: calc(100% - 252px); // 252
      // }

      @include breakpoint(large) {
        width: calc(100% - 390px); // 400
		gap: 10px;
      }

      @include breakpoint(xlarge) {
        justify-content: space-between;
      }

	  .header__reviews-social {
		display: flex;
		gap: 15px;
	  }

      /** Header Status Message & Phone Number */

	  .header__social {
		color: white;
		font-size: 20px;
		display: flex;
		gap: 8px;
		justify-content: space-between;		
		align-items: center;
		margin-top: 8px;
		margin-right: -8px;

		@include breakpoint(large) {
			margin-right: unset;
			margin-top: 0;
		}

		&.header__social--scroll {
			display: none;
		}

		a {
			display: flex;




			svg,img {
				aspect-ratio: 1 / 1;
				// width: 22px;
				width: 36px;
		
				@include breakpoint(large) {
					width: 48px;
				}
			}
		}


	  }

	  .header__call {
		display: none;
		color: white;
		font-size: 36px;
		font-weight: 400;
		margin-bottom: 0;
		margin-top: -10px;	

		&.header__call--scroll {
			font-size: 24px;
			margin-bottom: 10px;
		}

		@include breakpoint(large) {
			display: block;
		}			
		
		a {
			color: white;
			display: inline-block;
			text-decoration: none;
			font-weight: 700;


		}
	  }


    }
  }
}
