// Breakpoints
$small-medium: 640px;
$medium: 768px;
$medium-large: 960px;
$large: 1280px;
$x-large: 1680px;
$mobile-only: 639px;

// Fonts
$roboto-condensed: "Roboto Condensed", sans-serif;
$merriweather: "Merriweather", serif;
$dm-serif-display: 'DM Serif Display', serif;

// Colors
$gray: hsla(0, 0%, 26%, 1);
$lightgray: hsl(0, 0%, 85%);
$darkgray: #222;
$blue: hsla(200, 49%, 40%, 1);
$darkblue: hsla(200, 50%, 27%, 1);
$orange: #e34632;
$red: #a22a1b;
$inputblue: hsla(200, 72%, 54%, 1);
